*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    color:#fff;
    width: 100%;
   /* background: #333;*/
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

}
body{
    background-color: #f5f5f5;
}
a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.logo{
    width: 180px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;

}
